.concertina .padding-mask {
  position: sticky;
  top: 0;
  height: 1em;
  background-color: white;
  border: 1px solid white;
  z-index: 3;
}

.concertina .header {
  background-color: white;
  border: 1px solid dodgerblue;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  position: sticky;
  top: 1em;
  z-index: 3;
}

.concertina .body {
  border: 1px solid dodgerblue;
  border-top: none;
  border-bottom: none;
  overflow: auto;
}

.concertina .footer {
  border: 1px solid dodgerblue;
  border-top: none;
  border-radius: 0 0 3px 3px;
}