.given-input-container .given-input,
.given-input-container .given-label,
.given-input-container .delete-button {
  font-size: 2em;
}

.given-input-container .given-input {
  margin-right: 0.5rem;
}

.given-input-container {
  border-bottom: 1px solid #eee;
  border-radius: 2px;
  padding: 0.5rem;
}

.add-when-container {
  border-top: 1px solid #eee;
  padding: 0.5em;
}

.whens {
  padding: 1em;
}