.given-container {
  position: relative;
  border: 1px solid dodgerblue;
  border-radius: 3px;
  padding: 1em;
}

.given-container .given-input,
.given-container .given-label,
.delete-given {
  font-size: 2em;
}

.given-container .whens-container {
  padding-left: 1.5em;
}

.given-container .whens-container > *{
  margin-bottom: 0.5em;
}

.given-container .given-input-container {
  position: sticky;
  top: 16px;
  background-color: white;
  z-index: 3;
  border: 1px solid #eee;
  border-radius: 2px;
}

.given-container .given-input-container .top-mask {
  position: absolute;
    top: -1em;
    background-color: white;
    height: 1em;
    width: 100%;
}