.gwts-container .top-button {
  margin-bottom: 0.6em;
}

.gwts-container .bottom-button {
  margin-top: 0.6em;
}

.gwts-container .givens-container > *:not(:last-child) {
  margin-bottom: 1em;
}

.gwts-container .add-gwt-button {
  font-size: 1.8em;
}