.when-container > .flex-container {
  border: 1px solid #eee;
  border-radius: 2px;
  position: sticky;
  top: calc(78.79px + 1em);
  background-color: white;
  z-index: 2;
}

.when-container .thens-container {
  padding-left: 0.8em;
}

.when-container .when-input-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}