h1 {
  color: dodgerblue;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
}

p {
  text-align: center;
  color: darkgrey;
  margin-bottom: 2em;
}

button {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
  color: grey;
  cursor: pointer;
  background-color: white;
  margin: auto;
  white-space: nowrap;
}

button:active {
  background-color: #e0e8f8;
  border-radius: 1em;
}

button.delete-button:active {
  background-color: rgba(0,0,0,0);
}

button:hover,
button:active {
  color: dodgerblue;
}

button.delete-button:hover,
button.delete-button:active {
  color: tomato;
  font-weight: bold;
}

label {
  margin: auto;
}

label, button {
  padding: 0.35em 0.4em 0.35em 0.4em;
}

input {
  color: #444;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
  flex-grow: 1;
  padding: 0.15em 0.3em 0.15em 0.3em;
  margin-top: 0;
  margin-bottom: 0;
  transition: margin 0.4s;
}
input:active,
input:focus {
  border: 1px solid lightgrey;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#app-container {
  padding: 5% 10%;
}

.flex-container {
  display: flex;
}