h1 {
  color: dodgerblue;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
}

p {
  text-align: center;
  color: darkgrey;
  margin-bottom: 2em;
}

button {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
  color: dodgerblue;
  cursor: pointer;
  background-color: white;
  font-size: 1.2em;
  padding: 0.1em 0.3em;
  white-space: nowrap;
  margin: 0.2em;
}

button.delete-button {
  color: darkgrey;
}

button:focus {
  border: 1px solid lightblue;
}

button.delete-button:focus {
  border-color: lightpink;
}

button:hover {
  border: 1px solid dodgerblue;
}

button.delete-button:hover {
  color: tomato;
  border-color: tomato;
}

button:active {
  background-color: #f0f8f8;
}

button.delete-button:active {
  background-color: #f8f0f0;
}

label, input {
  font-size: 1.2em;
  padding: 0.35em 0.4em 0.05em 0.4em;
  margin: 5px;
}

label {
  color: darkgrey;
}

input {
  color: #444;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
  flex-grow: 1;
  padding: 0.2em 0.4em;
}
input:active,
input:focus {
  border: 1px solid lightgrey;
}

#app-container {
  padding: 2em 4em;
}

.flex-container {
  display: flex;
}